<div class="container">
    <h3>Keyboard Shortcuts</h3>
    <p>This is a list of the keyboard shortcuts supported in the Active Tasks view.</p>
    <h4>Modifying Tasks</h4>
    <ul>
        <li><kbd>c</kbd> - Create task</li>
        <li><kbd>e</kbd> - Edit summary for the selected task</li>
        <li><kbd>f</kbd> - Create new follow-up task. This will be set to status 'Waiting', have tag 'follow-up', and be snoozed until tomorrow morning.</li>
        <li><kbd>i</kbd> - Change the selected task's status to 'Started'</li>
        <li><kbd>n</kbd> - Edit the notes for the selected task</li>
        <li><kbd>p</kbd> - Add the selected task to 'Three Things'</li>
        <li><kbd>s</kbd> - Open the snooze popup for the selected task</li>
        <li><kbd>t</kbd> - Focus on tags section for the selected task</li>
        <li><kbd>w</kbd> - Change the selected task's status to 'Waiting'</li>
        <li><kbd>y</kbd> - Change the selected task's status to 'Done'</li>
        <li><kbd>1</kbd>,<kbd>2</kbd>,<kbd>3</kbd> - Toggle the selected task's Reporting Levels</li>
        <li><kbd>Ctrl</kbd>+<kbd>Enter</kbd> - Save notes for the selected task</li>
        <li><kbd>Delete</kbd> - Deletes the selected task</li>
        <li><kbd>&uarr;</kbd>,<kbd>&darr;</kbd>,<kbd>&larr;</kbd>,<kbd>&rarr;</kbd> - Move the selected task within the priority grid</li>
    </ul>
    <h4>Navigation</h4>
    <ul>
        <li><kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>1</kbd> - Go to Active Tasks tab</li>
        <li><kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>2</kbd> - Go to Reports tab</li>
        <li><kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>3</kbd> - Go to Help tab</li>
        <li><kbd>/</kbd> - Focus on search box</li>
        <li><kbd>j</kbd> / <kbd>k</kbd> - Select next/previous task</li>
        <li><kbd>Home</kbd> / <kbd>End</kbd> - Select first/last task</li>
    </ul>
</div>
