<h3>Default Snooze</h3>
<div class="snoozeDefaults btn-group" role="group" aria-label="defaultSnoozeTimes">
    <button type="button" class="laterTodayBtn btn btn-default" title="Snoozed for 4 hours" >Later Today</button>
    <button type="button" class="tomorrowBtn btn btn-default">Tomorrow</button>
    <button type="button" class="threeDaysBtn btn btn-default">In 3 Days</button>
    <button type="button" class="nextWeekBtn btn btn-default">Next Week</button>
    <button type="button" class="twoWeeksBtn btn btn-default">In 2 weeks</button>
    <button type="button" class="fourWeeksBtn btn btn-default">In 4 weeks</button>
</div>
<h3>Custom Snooze</h3>
<div id="snoozeDateTimePicker"></div>
<span class="pull-right">
    <a class="unsnoozeBtn btn btn-default" href="javascript:void(0)">Unsnooze</a>
    <a class="customSnoozeBtn btn btn-primary" href="javascript:void(0)">Submit</a>
</span>
<br/>
<br/>