<div id="urgencyLabel">Urgency</div>
<div id="valueLabel">Value</div>
<table id="tableGrid" class="table-bordered">
    <tbody>
    <tr>
        <td>
            <ul class="sortableTaskList"></ul>
        </td>
        <td>
            <ul class="sortableTaskList"></ul>
        </td>
        <td>
            <ul class="sortableTaskList"></ul>
        </td>
        <td>
            <ul class="sortableTaskList"></ul>
        </td>
    </tr>
    <tr>
        <td>
            <ul class="sortableTaskList"></ul>
        </td>
        <td>
            <ul class="sortableTaskList"></ul>
        </td>
        <td>
            <ul class="sortableTaskList"></ul>
        </td>
        <td>
            <ul class="sortableTaskList"></ul>
        </td>
    </tr>
    <tr>
        <td>
            <ul class="sortableTaskList"></ul>
        </td>
        <td>
            <ul class="sortableTaskList"></ul>
        </td>
        <td>
            <ul class="sortableTaskList"></ul>
        </td>
        <td>
            <ul class="sortableTaskList"></ul>
        </td>
    </tr>
    <tr>
        <td>
            <ul class="sortableTaskList"></ul>
        </td>
        <td>
            <ul class="sortableTaskList"></ul>
        </td>
        <td>
            <ul class="sortableTaskList"></ul>
        </td>
        <td>
            <ul class="sortableTaskList"></ul>
        </td>
    </tr>
    </tbody>
</table>